<!-- /public/footer.ejs -->

<div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="credits">
            Developed by Dev.Club IIT Delhi
          </div>
          <div class="copyright">
            &copy; Copyright <strong>ACES-ACM © 2017 </strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </div>