<!-- /public/header.ejs -->

    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero">
          </img src="./img/logo.png" alt="" title="" /></img>
        </a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="./">Home</a></li>
          <li><a href="/#about">About us</a></li>
          <li class="menu-has-children"><a>Endeavours</a>
            <ul>
              <li class="menu-has-children"><a>Newsletter</a>
                <ul>
                  <li><a href="Newsletters/Nov2014.pdf" target="_blank">November 2014</a></li>
                </ul>
              </li>
              <li><a href="/#coding">Coding Club</a></li>
              <li><a href="/#dev-club">Dev Club</a></li>
            </ul>
          </li>
          <li><a href="./gallery">Gallery</a></li>
          <li><a href="./events">Events</a></li>
          <li><a href="./team">Team</a></li>
          <li><a href="/#contact">Contact Us</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
